.container1{
    width: 100%;
    background-color: #F4F4F4;
    box-shadow: 0.5px 0.5px 4px 0.5px #838383;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}
.container1 img{
    margin-bottom: 1%;
}